.cards {
    height: 90vh;
    background-image: url(../images/gigs.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5rem;

}
.card {
    padding: 1rem;
    background-color: magenta;
    color: #fff;
}
.card h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.cards article:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.cards article:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.cards article:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.cards article:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
}


.gig {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.vertical {
    writing-mode: vertical-rl;
}
.horizontal {
    flex-basis: 60%;
}




@media screen and (max-width: 1015px) {

    .cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }   
    .gig {
        flex-direction: column;
        align-content: flex-end;
    }
    .cards article:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .cards article:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    .cards article:nth-of-type(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    .cards article:nth-of-type(4) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    .vertical {
        writing-mode: horizontal-tb;
        
    }
    .horizontal {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        flex-grow: 2;
    }
    }