* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
html {
    font-family:'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 3500px;
    margin: 0 auto;
}
footer {
    position: -webkit-sticky; 
    position:sticky;
    top: 0;
    height: 10vh;
    background-color: #fff;
    z-index: 10;
}
h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 1fr;
    margin-bottom: 1fr
}
h1 span {
    font-size: 4rem;
}

/* .tag {
    background: yellow;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: fixed;
    left: 0;
    top: 2rem;
    padding: 1em 0;
} */
