footer {
    position: -webkit-sticky; 
    position:sticky;
    top: 0;
    height: 10vh;
    background-color: #fff;
    z-index: 10;
}
h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 1fr;
    margin-bottom: 1fr
}
h1 span {
    font-size: 4rem;
}