* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
:root {
    font-family:'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
h1 span {
    font-size: 3rem;
}
