.wrapper {
    display: flex;
    align-content: space-between;
}
.page {
    flex-basis: 95%;
    max-width: 3500px;
    margin: auto;
    padding: 1rem;
    height: 90vh;
    
    
}
.tag {
    flex-basis: 1%;
    font-weight: 700;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 10rem;
    align-self: flex-end;
    height: 90vh;
}
.tag a {
    background: yellow;
    padding: .3rem 2rem .3rem .3rem;
    font-size: 1.5rem;
}
.tag a:hover {
    background-color: magenta;   
}