.wrapper {
    display: flex;
    align-content: space-between;
}
.page {
    flex-basis: 95vw;
    margin: .2fr;
    max-width: 3500px;
    
}
.tag {
    font-weight: 700;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 10rem 0 0 1rem;
    align-self: flex-end;
    height: 90vh;
}
.tag a {
    background: yellow;
    padding: .3rem 2rem .3rem .3rem;
    font-size: 1.5rem;
}
.tag a:hover {
    background-color: magenta;   
}